/* Reset padding/margin for root elements */
html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box; /* Ensure padding is included in width/height calculations */
    /* background-color: #de2349; */
    background-color: inherit;
    -webkit-tap-highlight-color: #de2349;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.css-view-175oi2r {
background-color: #de2349;
/* background-color: inherit; */
}

[class*="r-backgroundColor"][aria-label="settings-button"] {
  background-color: #ffffffd2 !important;
}

/* Style the entire transaction history section */
[aria-label="transaction-history"] {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Adjust transactions within it */
[aria-label="transaction-history"] .transaction {
  background-color: #ffffff !important;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

[aria-label="balance-container"] {
  background-color: rgba(255, 255, 255, 0.432);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

[aria-label="back-button"] {
  align-items: flex-start !important;
  justify-content: flex-start !important;
  margin-left: 10px;
}
